<!DOCTYPE html> 

<html lang='en'>
<head>
    <meta charset="'utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAC</title>
</head>

<body>
    <div class='flex-column justify-space-around'>
    <header class='display-flex justify-space-between align-center p-2'>
        <h1>
            PAC-Overflow 
            <input type="button" name="login">
            Login
            </input>
        </h1>
    </header>

    <main>
        {{{body}}}
    </main>
    </div>

</body>

</html>