<div>

    <form>
        <input type="text" class="username-login">

        <input type="text" class="password-login">

    </form>
    
    <div>
        <p class="sign-up-transfer">Sign Up</p>
    </div>

    <div> <input type="button" class="submit-login">Submit</input></div>

</div>

