

<div class="main">
<div class="section1 video-container">
<iframe width="660" height="315" src="https://www.youtube.com/embed/u80TE2jxPOs?autoplay=1&mute=1&volume=25&showinfo=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="login section2 ">
 
<form class="form login-form ">
       <h2 class="login_header">Login</h2>
       
      <div class="form-group ">
        <label for="email-login">email:</label>
        <input class="form-input form-control" type="text" id="email-login" />
      </div>
      <div class="form-group ">
        <label for="password-login">password:</label>
        <input class="form-input form-control" type="password" id="password-login" />
       
      </div>
      <div class="form-group">
        <button class=" login btn btn-primary" type="submit">login</button>
      </div>
   <div  class="signup">
        <span>Not registerd:</span><a class="ps-1" id="register" href="/api/users/signup">Sign up</a> 
      
   </div>
   <h6 id="login-result"></h6>
    </form>
 

          {{!-- {{/if}} --}}
</div>
</div>


<script type="text/javascript" src="/js/login.js"></script>
