<div class="signup col-md-6">
    <form class="form signup-form">
        <h2>Signup</h2>

      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input form-control" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="btn-signup">signup</button>
      </div>
    </form>
    <h6 id="signup-result"></h6>
  </div>
<script type="text/javascript" src="/js/signup.js"></script>