.main{
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-top:80px;
  /* justify-content: space-between; */
}

/* section that has the video in the login */
.section1{
  width: 45%;
  padding-left:60px;
}

/* section that has login in the login page */
.section2{
  width: 45%;
  margin-left: 0px;
  height: 32%;
}

.login{
    display: flex;
    padding: 10px;
    justify-content: center;
    border: 2px solid rgb(163, 163, 197) ;
    border-radius: 25px;
    box-shadow: 6px 6px 1px rgb(178, 178, 199);
   
  }
  
  .login-form{
    display: block;
    width: 50%;
    justify-content: cetner;
    border-radius: 25px;
  }
  .login_header{
    align-self: center;
  }
  .form-group{
    display: block;
    justify-content: center;
    padding: 10px;
  }
  

  .signup{
    display: inline;
   

  }
  
 
